@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


:root {
    --body-font: 'Questrial', sans-serif;

    --primar-color: #202d57;
    --secondary-color: #1567a3;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: var(--body-font);
}




/* navbar css starts */
.navbar{
    padding: 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.navbar .navbar-brand img{
    width: 200px;
}
.navbar .nav-link{
    font-size: 18px;
    margin-right: 15px;
    color: var(--primar-color);
}
.navbar .nav-link.active{
    color: var(--secondary-color);
}
/* navbar css end */





/* hero section css start  */
.hero_section{
    padding: 35px 0px 0px 0px;
    background: rgba(231, 231, 231, 0.164);
    position: relative;
    border-bottom: 1px solid #d6d6d66b;
    overflow: hidden;
}
.hero_section::before{
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: #1567a308;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
}
.hero_section::after{
    content: '';
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: #18265108;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
}
.hero_section .left_box{
    position: relative;
}
.hero_section .left_box .lottie{
    width: 120px;
    position: absolute;
    top: 24%;
    height: 120px;
    right: -37px;
}
.hero_section .left_box .heading{
    font-size: 60px;
    font-weight: bold;
    position: relative;
}
.hero_section .left_box .heading::after{
    content: '';
    background: url('../img/icons/stethoscope.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 18px;
    margin-left: 25px;
}
.hero_section .left_box .description{
    font-size: 17px;
    font-family: var(--body-font);
    margin-top: 25px;
    width: 82%;
}
.hero_section .left_box .buttons{
    margin-top: 25px;
    align-items: center;
    display: flex;
}
.hero_section .left_box .first_btn{
    padding: 14px 19px;
    border-radius: 5px;
    border: none;
    background: var(--primar-color);
    height: fit-content;
    color: white;
    font-family: var(--body-font);
}
.hero_section .left_box .second_btn{
    padding: 14px 19px;
    border-radius: 8px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    height: fit-content;
}
.hero_section .left_box .second_btn i{
    font-size: 41px;
    margin-right: 16px;
}
/* hero section css end  */





/* home page about section css start  */
.about_section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about_section .left_box{
    position: relative;
}
.about_section .left_box .scrubble{
    position: absolute;
    width: 60px;
    right: 10%;
    bottom: 7%;
    transform: rotate(280deg);
}
.about_section .left_box span{
    text-transform: uppercase;
    color: #1567a3;
    font-size: 17px;
}
.about_section .left_box .head_txt{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 8px;
}
.about_section .left_box .head_txt span{
    font-size: 40px;
    text-transform: capitalize;
}
.about_section .left_box ul{
    padding: 0px;
    margin-bottom: 32px;
}
.about_section .left_box ul li{
    padding-left: 30px;
    margin-bottom: 4px;
    position: relative;
}
.about_section .left_box ul li::before{
    content: '';
    background: url('../img/icons/tick.png');
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
}
.about_section .left_box a.b_t_n{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(178, 178, 178);
}
.about_section .left_box a::after{
    content: '';
    width: 20px;
    height: 20px;
    margin-top: 4px;
    background: url('../img/icons/right-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    right: -35px;
}
.about_section .left_box a:hover::after{
    right: -50px;
}
/* home page about section css start  */






/* department section css start  */
.department__section{
    margin-bottom: 80px;
    padding: 40px 0px;
}
.department__section .row{
    margin-top: 30px;
}
.department__section .span{
    font-size: 20px;
    text-align: center;
    display: block;
}
.department__section .heading{
    font-size: 35px;
    text-align: center;
    margin-top: 2px;
    font-weight: bold;
}
.department__section .description{
    width: 50%;
    margin: auto;
    text-align: center;
}
.department__section .dep_carousel{
    margin-top: 25px;
}
.department__section .box{
    border: 1px solid rgb(238, 238, 238);
    padding: 15px 15px 35px;
    border-radius: 8px;
    margin: 10px;
}
.department__section .box .img_box{
    height: 210px;
}
.department__section .box .img_box img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.department__section .box h5{
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}
.department__section .box a{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(178, 178, 178);
}
.department__section .box a::after{
    content: '';
    width: 20px;
    height: 20px;
    margin-top: 4px;
    background: url('../img/icons/right-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    right: -35px;
}
.department__section .row .box a:hover::after{
    right: -50px;
}
.slick-dots{
    bottom: -30px;
}
.slick-dots li.slick-active{
    background: #1567a3;
    width: 33px;
    height: 9px;
    border-radius: 20px;
}
.slick-dots li{
    background: #1567a3;
    width: 9px;
    height: 9px;
    border-radius: 20px;
    transition: 0.4s;
}
.slick-dots li button{
    display: none;
}
/* department section css end */






.counter_section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.counter_section .heading{
    font-size: 35px;
    font-weight: bold;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 35px;
}
.counter_section .row{
    padding: 25px 200px;
}
.counter_section .row .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
    border-radius: 10px;
}
.counter_section .row .box h5{
    font-size: 35px;
    font-weight: bold;
}
.counter_section .row .box h6{
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
}
.counter_section .row .box_1{
    background-color: #f3c7d2;
}
.counter_section .row .box_2{
    background-color: #d2dee3;
}
.counter_section .row .box_3{
    background-color: #e8dbdb;
}
/* counter section css end  */



.doctors_section{
    margin-top: 80px;
    margin-bottom: 140px;
}
.doctors_section h3.heading{
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.doctors_section p.description{
    width: 45%;
    margin: auto;
    text-align: center;
}
.doctors_section .box{
    background: #d2dee36e;
    border-radius: 30px;
    margin: 10px;
}
.doctors_section .box .img_box {
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.doctors_section .box .img_box img{
    object-fit: cover;
    height: 100%;
}
.doctors_section .box .inner_box{
    background: #ffffff4d;
    text-align: center;
    padding: 15px 0px;
}
.doctors_section .box .inner_box h5.name{
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    color: #14457b;
}
.doctors_section .box .inner_box p{
    margin-bottom: 0px !important;
}

/* checkup section css start */
.checkup_section{
    margin-top: 100px;
    padding: 0px 0px 120px;
    position: relative;
}
.checkup_section::after{
    content: '';
    width: 250px;
    height: 250px;
    background: #bed9ec4f;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 100%;
}
.checkup_section::before{
    content: '';
    width: 350px;
    height: 350px;
    background: #afbeee4d;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 100%;
}
.checkup_section .span{
    background: #D3E9FB;
    padding: 7px 12px;
    color: #1567a3;
}
.checkup_section .heading{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    width: 70%;
}
.checkup_section .inner_box{
    padding-left: 40px;
    margin-bottom: 30px;
    position: relative;
}
.checkup_section .inner_box h5{
    font-size: 18px;
    font-weight: bold;
}
.checkup_section .inner_box::before{
    content: '';
    background: url('../img/icons/check-mark.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.checkup_section a.b_t_n{
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 18px;
    display: block;
    width: fit-content;
    margin-top: 40px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(178, 178, 178);
}
.checkup_section a.b_t_n::after{
    content: '';
    width: 20px;
    height: 20px;
    margin-top: 4px;
    background: url('../img/icons/right-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.4s;
    right: -35px;
}
.checkup_section a.b_t_n:hover::after{
    right: -50px;
}
/* checkup section css end  */






/* news letter section css start  */
.news_letter{
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url('../img/news-letter/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.news_letter .heading{
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.news_letter p{
    color: white;
    text-align: center;
    margin-bottom: 35px;
}
.news_letter .input_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.news_letter .input_box input{
    padding: 9px 15px;
    width: 250px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.news_letter .input_box button{
    background: #285e68b5;
    color: white;
    border: none;
    outline: none;
    padding: 9px 23px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* news letter section css end */






/* footer section css starts  */
.footer_section{
    background: #14457b;
    padding: 100px 0px 0px;
    color: white;
}
.footer_section .copy_right{
    margin-bottom: 0px;
    padding: 15px 0px;
    font-size: 17px;
}
.footer_section .container{
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}
.footer_section  h5.head_txt{
    font-size: 27px;
    margin-bottom: 35px;
}
.footer_section .logo_section img{
    width: 80%;
    margin-bottom: 40px;
}
.footer_section .logo_section .icons{
    margin-top: 25px;
}
.footer_section .logo_section .icons i{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.079);
    padding: 12px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.footer_section .quick_link ul{
    padding: 0px;
}
.footer_section .quick_link ul:nth-child(1){
    margin-right: 40px;
}
.footer_section .quick_link ul li{
    padding-left: 32px;
    position: relative;
    margin-bottom: 15px;
}
.footer_section .quick_link ul li::before{
    content: '';
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain !important;
    background-repeat: no-repeat;
    background: url('../img/icons/next.png');
    position: absolute;
    left: 0px;
    top: 4px;
}
.footer_section .quick_link ul li a{
    color: white;
}
.footer_section .latest_news .box{
    display: flex;
    border-bottom: 1px solid rgb(166, 166, 166);
    padding-bottom: 15px;
}
.footer_section .latest_news .box:last-child{
    border-bottom: none;
    margin-top: 20px;
}
.footer_section .latest_news .box .txt_box{
    margin-left: 15px;
}
.footer_section .latest_news .box .txt_box h6.head{
    font-size: 18px;
    margin-top: 10px;
    width: 90%;
}
.footer_section .latest_news .box .txt_box span.date{
    font-size: 14px;
}
.footer_section .contact .box{
    margin-bottom: 22px;
}
.footer_section .contact .box p.phone::before{
    content: "\f095";
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}
.footer_section .contact .box p.email::before{
    content: "\f0e0";
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}
.footer_section .contact .box p.location::before{
    content: "\f601";
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}
.footer_section .contact .box p{
    margin-bottom: 0px;
    position: relative;
    padding-left: 30px;
}
.footer_section .contact .box p i{
    margin-right: 15px;
}
/* footer section css ends */









/* department section css start  */
.department_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.department_section .heading{
    font-size: 35px;
    width: 45%;
    text-align: center;
    margin: auto;
}
.department_section .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.department_section .box::after{
    content: '';
    width: 80px;
    height: 80px;
    background-color: #a0a2a81a;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 10px;
}
.department_section .box::before{
    content: '';
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background: url('../img/icons/heart-beat.png');
    position: absolute;
    background-size: cover;
    bottom: -22px;
    right: -18px;
    transform: rotate(320deg);
    opacity: 0.05;
}
.department_section .box img{
    width: 65px;
    margin-bottom: 20px;
}
.department_section .box .head_txt{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}
/* department section css end  */






