@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


:root {
    --body-font: 'Questrial', sans-serif;

    --primar-color: #202d57;
    --secondary-color: #1567a3;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: var(--body-font);
}




/* navbar css starts */
.navbar{
    padding: 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.navbar .navbar-brand img{
    width: 200px;
}
.navbar .nav-link{
    font-size: 18px;
    margin-right: 15px;
    color: var(--primar-color);
}
.navbar .nav-link.active{
    color: var(--secondary-color);
}
/* navbar css end */





/* hero section css start  */
.hero_section{
    padding: 35px 0px 0px 0px;
    background: rgba(231, 231, 231, 0.164);
    position: relative;
    border-bottom: 1px solid #d6d6d66b;
    overflow: hidden;
}
.hero_section::before{
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: #1567a308;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
}
.hero_section::after{
    content: '';
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: #18265108;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
}
.hero_section .left_box{
    position: relative;
}
.hero_section .left_box .lottie{
    width: 120px;
    position: absolute;
    top: 24%;
    height: 120px;
    right: -37px;
}
.hero_section .left_box .heading{
    font-size: 60px;
    font-weight: bold;
    position: relative;
}
.hero_section .left_box .heading::after{
    content: '';
    background: url('../img/icons/stethoscope.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 18px;
    margin-left: 25px;
}
.hero_section .left_box .description{
    font-size: 17px;
    font-family: var(--body-font);
    margin-top: 25px;
    width: 82%;
}
.hero_section .left_box .buttons{
    margin-top: 25px;
    align-items: center;
    display: flex;
}
.hero_section .left_box .first_btn{
    padding: 14px 19px;
    border-radius: 5px;
    border: none;
    background: var(--primar-color);
    height: fit-content;
    color: white;
    font-family: var(--body-font);
}
.hero_section .left_box .second_btn{
    padding: 14px 19px;
    border-radius: 8px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    height: fit-content;
}
.hero_section .left_box .second_btn i{
    font-size: 41px;
    margin-right: 16px;
}
/* hero section css end  */






/* department section css start  */
.department_section{
    margin-top: 80px;
    margin-bottom: 50px;
}
.department_section .heading{
    font-size: 35px;
    width: 45%;
    text-align: center;
    margin: auto;
}
.department_section .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.department_section .box::after{
    content: '';
    width: 80px;
    height: 80px;
    background-color: #a0a2a81a;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 10px;
}
.department_section .box::before{
    content: '';
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background: url('../img/icons/heart-beat.png');
    position: absolute;
    background-size: cover;
    bottom: -22px;
    right: -18px;
    transform: rotate(320deg);
    opacity: 0.05;
}
.department_section .box img{
    width: 65px;
    margin-bottom: 20px;
}
.department_section .box .head_txt{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}
/* department section css end  */
